<%- include('header.ejs') %>
<div>
    <br>
    <br>
    <form action="/" method="GET">
        <input type="submit" value="Go back" class="btn"/>
    </form>
    <br>
    <br>
</div>
<div class="quotes-form">
    <form action="/create" method="post">
        <div class="form-control">
            <label for="username">Name</label>
            <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Enter your name"
            />
        </div>
        <div class="form-control">
            <label for="quote">Quotes</label>
            <input
                    type="text"
                    name="quote"
                    id="quote"
                    placeholder="Enter a quote"
            />
        </div>
        <div class="form-control">
            <button type="submit" class="btn">Go!</button>
        </div>
    </form>
</div>
</body>
</html>
<%- include('footer.ejs') %>