<%- include('header.ejs') %>
<div>
    <form action="/enter" method="GET">
        <input type="submit" value="Try entering the quote again?" class="btn"/>
    </form>
    <form action="/" method="GET">
        <input type="submit" value="Go back" class="btn"/>
    </form>
</div>
<div>
    <h1>FAILURE! :(</h1>
    <p>"<%=message%>"</p>
</div>
</body>
</html>
<%- include('footer.ejs') %>