<%- include('header.ejs') %>
<h1>Welcome to the Quotes App!</h1>
<div>
    <form action="/enter" method="GET">
        <input type="submit" value="Enter a quote" />
    </form>
</div>
<%- include('footer.ejs') %>
